/*Reset*/
*{
    margin:0;
    padding:0;

    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}
html{
    font-size:62.5%;/*16.5x62.5%*/
}
body{
    font-size: 1.5rem;
}
h1{
    font-size:3rem;
}
h1 span{
    font-size: .5em;
}